<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <tb><%= @book.title %></tb>
              <tb><%= @book.body %></tb>
              <tb><%= @book.user.name %></tb>
              <tb><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %></tb>
              <tb><%= link_to "Destroy", book_path(@book.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></tb>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </main>


